.movie {
  height: 90vh;
  overflow: hidden;
  display: flex;
  margin-top: 10vh;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    overflow: auto;
  }

  &__img-container {
    height: 100%;
    width: 100%;
    order: 2;
    position: relative;

    @media screen and (max-width: 1200px) {
      order: -1;
      height: 80%;
    }

    .img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(red, .2));
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__play-button {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 70px;
    width: 250px;
    background: rgba(red, .8);
    color: #ffffff;
    border-radius: 3px;
    padding: 20px;
    border: none;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    margin-right: -40px;

    &:focus {
      outline: none;
    }

    .movie__play-icon {
      margin-right: 10px;
    }


    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   padding: 20px;

    //   width: 100%;
    //   height: 100%;
    //   background-color: white;
    //   transform: translate(-50%, -50%);
    //   transition: scaleX .5s ease-in-out;
    // }

  }

  &-details {
    flex: 0 1 45%;
    background-color: black;
    color: white;
    padding: 50px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .split-column {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1200px) {
        flex-direction: row;

        div {
          flex: 0 0 50%;
          margin-left: 20px;
        }
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;

        div {
          flex: 0 0 1;
          margin-left: 0;
        }
      }



    }

    p {
      font-size: 17px;

      span {
        font-size: 18px;
        font-weight: 700;
        margin-right: 5px;

      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;

    @media screen and (max-width: 900px) {
      font-size: 35px;
    }
  }
}