
.Movie{
    width: 95%;

    & .img{
        height: 350px;
        max-width: 100%;
        margin: auto 0 0.5rem;
        background-color: #fff;
    }
    & .title{
        text-align: left;
    }
    & .flexbox{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        & i{
            color: gold;
            display: inline-block;
            padding: 2px;
        }
    }
}